In [3]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [4]:
df = pd.read_csv('data/preprocessed_data/all.csv')

In [5]:
df.head()

,latitude,longitude,distance_to_center,year,month,weekday,pm,holiday,mean_temperature,total_precipitation,stations_count,elevation_meters,density,count
0,45.523319,-73.520127,4.380002,2014,4,1,0,False,5.8,8.9,455,11,1,1
1,45.510351,-73.556508,1.219082,2014,4,1,0,False,5.8,8.9,455,13,25,2
2,45.510351,-73.556508,1.219082,2014,4,1,1,False,5.8,8.9,455,13,25,3
3,45.511007,-73.567602,0.834790,2014,4,1,0,False,5.8,8.9,455,34,45,1
4,45.498112,-73.577615,0.915128,2014,4,1,0,False,5.8,8.9,455,54,34,4

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1163551 entries, 0 to 1163550
Data columns (total 14 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   latitude             1163551 non-null  float64
 1   longitude            1163551 non-null  float64
 2   distance_to_center   1163551 non-null  float64
 3   year                 1163551 non-null  int64
 4   month                1163551 non-null  int64
 5   weekday              1163551 non-null  int64
 6   pm                   1163551 non-null  int64
 7   holiday              1163551 non-null  bool
 8   mean_temperature     1163551 non-null  float64
 9   total_precipitation  1163551 non-null  float64
 10  stations_count       1163551 non-null  int64
 11  elevation_meters     1163551 non-null  int64
 12  density              1163551 non-null  int64
 13  count                1163551 non-null  int64
dtypes: bool(1), float64(5), int64(8)
memory usage: 116.5 MB

In [9]:
# Check if API had no result for elevation_meters
if (df['elevation_meters'] != 0).all():
    print ('There is no missing datapoint for elevation_meters')

There is no missing datapoint for elevation_meters

In [22]:
# Check if elevation_meters are higher than highest point on earth
if (df['elevation_meters'] < 9000).all():
    print("All elevation meters are in plausible range")
else:
    print("There are some datapoints which are higher than the highest point on earth")
    
# Check if elevations_meters are negative
if (df['elevation_meters'] < 0).all():
    print("There are stations beneath NN")
else:
    print("All stations are above NN")

All elevation meters are in plausible range
All stations are above NN

In [23]:
# Check if mean_temperature is greater than max and min temperature in montreal
if (df['mean_temperature'] < 37.6).all() | (df['mean_temperature'] > -37.8).all():
    print ("All mean temperatures are inside the valid ares")
else:
    print("There are some mean temperatures that are not valid")

All mean temperatures are inside the valid ares

In [24]:
#Check if density of Stations has more results than total stations Count
if (df['density'] < df['stations_count']).all():
    print("Density of Stations is valid")
else: 
    print('Density has more stations than total count of stations')

Density of Stations is valid

In [27]:
#Check if data is in expected month Range
if (df['month'] > 3).all() | (df['month'] < 12).all():
    print('Month range is correct')
else:
    print("Month range is incorrect")

Month range is correct

In [29]:
#Check if data is in expected year Range
if (df['year'] > 2013).all() | (df['year'] < 2021).all():
    print('Year range is correct')
else:
    print("Year range is incorrect")

Year range is correct

In [32]:
# Check if total_precipitation is greater than max and min percipitation in montreal
if (df['total_precipitation'] < 93.5).all() | (df['total_precipitation'] > 1.7).all():
    print ("All precipitation are inside the valid ares")
else:
    print("There are some precipitation that are not valid")

All precipitation are inside the valid ares

In [37]:
#Check if pm is valid
if (df['pm'] > 2).all() | (df['pm'] < 0).all():
    print("Data is valid")
else:
    print("Data is invalid")

Data is invalid

In [38]:
#Check if data is in expected day Range
if (df['weekday'] >= 0).all() | (df['year'] <= 6).all():
    print('Weekday range is correct')
else:
    print("Weekday range is incorrect")

Weekday range is correct

In [40]:
# Check if total_precipitation is greater than max and min percipitation in montreal
if (df['total_precipitation'] == 0).all():
    print ("Kein Regenta")
else:
    print("There are some precipitation that are not valid")

There are some precipitation that are not valid